BreakBeforeBraces: Stroustrup
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakAfterReturnType: AllDefinitions
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: Align

