[user]
	name = Ömür Özkir
	email = oemuer.oezkir@gmail.com
[credential]
	helper = cache --timeout=3600
[alias]
  ci = commit -v
  co = checkout
  st = status
  br = branch
  df = diff
  lg = log -p
  who = shortlog -s --
  rb = rebase
  cp = cherry-pick
  sub = submodule update --init --recursive
  dd = diff --cached
[color]
  ui = true
[core]
	excludesfile = ~/.gitignore
  pager = delta
[push]
	default = upstream
[help]
	autoCorrect = 20
[github]
	user = oem
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
  diffFilter = delta --color-only
[delta]
	side-by-side = false
[init]
	defaultBranch = main
