.DS_Store
*.swp
.netrwhist
vim/bundle/vim-peepopen
vim/backup
vim/bundle/FuzzyFinder
vim/bundle/L9
vim/bundle/ack.vim
vim/bundle/command-t
vim/bundle/jslint.vim
vim/bundle/nerdtree
vim/bundle/snipmate.vim
vim/bundle/supertab
vim/bundleundle/tcomment_vim
vim/bundle/vim-align
vim/bundle/vim-bundler
vim/bundle/vimvim-coffee-script
vim/bundle/vim-endwise
vim/bundle/vim-fugitive
vim/bundleundlee/vim-powerline
vim/bundle/vim-ragtag
vim/bundle/vim-rails
vim/bundle/vim-rail
vim/bundle/surround
vim/bundle/vim-unimpaired
vim/bundle/tcomment_vim
vim/bundle/vim-coffee-script
vim/bundle/vim-powerline
vim/bundle/vim-surround
vim/bundle/vim-jade
.emacs.d/backups
